*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
     font-family: 'Poppins', sans-serif;
     overflow-x: hidden;
}


:root {
    --primary:#ffa700;
    --black:#2b2b2b;
    --gray:#808080;
    --white:#ffffff;
}

.container{
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
    
.header {
    background-color: var(--black);
    padding: 1rem 0;
    color: var(--primary);
    position: fixed;
    width: 100%;
}


.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    display: flex;
    align-items: center;
    color: var(--white);
    gap: 20px;
}

.header_logo span {
    color: var(--primary);

}

nav ul{
     list-style: none;
     display: flex;
     gap: 30px;
}

nav ul li a{
    color: var(--white);
    text-decoration: none;

}

nav ul li a:hover {
    color:var(--primary)
}

.toggle_menu {
    cursor: pointer;
    display: none;
}

.toggle_menu span {
    background-color: var(--white);
    display: block;
    height: 0.2rem;
    width: 2rem;
    margin-bottom: 0.4rem;
    border-radius: 0.5rem;

}

@media(max-width: 768px) {
    .toggle_menu {
        display: block;
        transition: 0.5s ease-in; /*    */
    }
nav.open ul {

    right: -50%;
    transition: 0.5 ease-in;
}

   nav ul{
    display: block;
    position: absolute;
    background-color:var(--black);
    top: 6.5rem;
    height: 100vh;
    width: 100%;
    right: -100%;
    text-align: left;
    transition: 0.5 ease-in;

   }

   nav ul li a{
    display: block;
    width: 100%;
    padding: 1rem;
    
}

nav ul li {
    border-bottom: 1px solid var(--white);

}



  nav ul li:hover{
    background-color: var(--gray);

  }

  nav ul li:hover a{
    color: var(--black);
  }

  .toggle_menu.open span:nth-child(1){
    transition: 0.5s ease;
    transform: translate(-2px, 7.3px) rotate(45deg);
}

.toggle_menu.open span:nth-child(2){
   opacity: 0;
   transition: 0;
}

.toggle_menu.open span:nth-child(3){
    transition: 0.5s ease;
    transform: translate(-2px, -12px) rotate(-45deg);
}


}





.banner{
    padding: 13rem 0 4rem;
}
.banner__wrapper{
    display: flex;
    align-items: center ;
}
@media (max-width: 998px){
    .banner__wrapper{
        flex-direction: column;
    }
    .banner img{
        width: 100% !important; 
    }
}
.banner img{
    width: 40rem;
}
.banner__content h1{
    color: var(--primary);
    font-size: clamp(3rem, 5vw, 5rem);
    line-height: 1;
}
.banner__content a{
    text-decoration: none;
    background-color: var(--primary);
    color: var(--white);
    padding: 0.5rem 2rem;
    display: inline-block;
    border-radius: 3rem;
    text-transform: uppercase;
}
.banner__content p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 9rem;
    text-align: justify;
}

.section2{
    background-color: var(--black);
    padding: 5rem 0;
}
.section2__gridWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.section2__gridContent{
    text-align: center;
}
.section2 p{
    text-align: justify;
    padding: 2rem;
    color: var(--white);
    font-size: 15px;
}
.section2 h3{
    margin-top: 40px;
    color: var(--primary);
}
.section2 img{
    padding: 0;
}
.section2 a{
    text-decoration: none;
    background-color: var(--primary);
    color: var(--white);
    padding: 0.5rem 2rem;
    display: inline-block;
    border-radius: 3rem;
    text-transform: uppercase;
}
@media (max-width: 998px){
    .section2__gridWrapper{
        grid-template-columns: 1fr; 
    }
    .section2{
        margin: 0 auto;
    }
    .section2 img{
        margin: 0.3rem;
    }
    .section2 p{
        margin: 0.5rem;
    }
    .section2 a{
        margin: 2rem;
    }
} 

.Section_3{
    background-color: var(--white);
    padding: 7rem 0;
}
.Section3__gridWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.Section_3 h2{
    margin-top: 70px;
    margin-left: 70px;
    color: var(--primary);
}
.Section_3 p{
    text-align: justify;
    color: var(--black);
    font-size: 15px;
    margin-top: 40px;
    margin-left: 70px;
}
@media (max-width: 998px){
    .Section3__gridWrapper{
        display: block;
        margin: 0 auto;
    }
    .Section3__gridContent img{
        display: block;
        margin: 0 auto  ;
    }
    .Section3__gridContent h2{
        display: block;
        margin: 2rem;
        text-align: center;
    }
    .Section3__gridContent p{
        display: block;
        margin: 1rem;
    }
    .Section_3{
        width: 100% !important; 
    }
}


.trends{
    background-color: var(--black);
    padding: 7rem;
}
.gridWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
.cardcontent{
    background-color: var(--white);
    border-radius: 2rem;
    margin-top: 3rem;
}
.trends p{
    color: var(--white);
    font-size: 25px;
    margin-bottom: 1rem;
}
.trends h3{
    margin-bottom: 5rem;
    font-size: 25px;
    color: var(--white);
}
.trends h4{
    padding: 1rem;
    color: var(--primary);
    text-align: left;
}
.trends h1{
    font-size: 40px;
    color: var(--primary);
}
.trends img{
    padding: 0;
}
.trends a{
    text-decoration: none;
    color: var(--primary);
    padding: 1rem;
    display: inline-block;
    border-radius: 3rem;
}
.cardcontent a:hover{
    color: var(--black);
}
.gridCard p{
    color: var(--black);
    font-size: 15px;
    padding: 1rem;
}
@media (max-width: 998px){
    .gridWrapper{
        display: block;
        width: 100%;
    }
    .trends{
        width: 100% !important; 
    }
    .cardcontent{
        display: block;
        width: 100%;
    }
    .trends img{
        width: 100%;
    }
}













.Section_5 {
    background-color: var(--primary);
    text-align: center;
}

.Section_5 h3 {
    text-decoration: none;
    background-color: var(--black);
    color: var(--white);
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 3rem;
    text-transform: uppercase;
    margin-bottom: 10rem;
    margin-top: 5rem;
}

h3:hover {
    color:var(--primary)
}

.footer{
    background-color: var(--black);
    color: var(--gray);
    padding: 3rem 0 ;
}

.footer ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.footer ul li a i{
    font-size: 1.5rem;
    color: var(--gray);
    align-items: center;
}

.sociallinks{
    display: flex;
    gap: 1rem;
}

.footer_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* ABOUT PAGE */

















.banner_2 {
    padding: 6rem 0;
}
.banner__wrapper2 {
    display: flex;
    align-items: center;
    gap: 4rem;
}
.banner_content2 h1 {
    color: var(--primary);
    font-size: 5rem;
    line-height: 1; 
    margin-bottom: 3rem;
}
.banner_content2 a {
    text-decoration: none;
    color: var(--primary);
    margin-top: 2rem;
    padding: 0.5rem;    
    display: inline-block;
    border-radius: 2rem;
    font-size: 30px;
}
.banner_content2 p {
    margin-bottom: 1rem;
    margin-right: 5rem;
    text-align: justify;
}
.arrow{
    font-size: 30px;
    text-align: center;
    color: var(--primary);
}
.banner_2 img{
    width: 30rem;
}
/*********** END ABOUT BANNER CSS ************/

/*********** SECTION TRENDS CSS ************/
.section_trends{
    background-color: var(--black);
    padding: 7rem;
}
.section__trendsGridWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
.section__trendsgridContent{
    background-color: var(--white);
    border-radius: 2rem;
    margin-top: 1rem;
}
.section_trends p{
    color: var(--white);
    font-size: 25px;
    margin-bottom: 1rem;
}
.section_trends h3{
    margin-bottom: 5rem;
    font-size: 25px;
    color: var(--white);
}
.section_trends h4{
    padding: 1rem;
    color: var(--primary);
    text-align: left;
}
.section_trends h1{
    font-size: 40px;
    color: var(--primary);
}
.section_trends img{
    padding: 0;
}
.section_trends a{
    text-decoration: none;
    color: var(--primary);
    padding: 1rem;
    display: inline-block;
    border-radius: 3rem;
}
.card_trends p{
    color: var(--black);
    font-size: 15px;
    padding: 1rem;
}
/*********** END SECTION TRENDS CSS ************/

/*********** SERVICES HTML ************/

/*********** SERVICES BANNER CSS ************/
.banner_3 {
    padding: 3rem 0;
  
}
.banner__wrapper3 {
    display: flex;
    align-items: center;
    gap: 4rem;
}
.banner_content3 h1 {
    color: var(--primary);
    font-size: 3rem;
    line-height: 1;
}
.banner_content3 a {
    text-decoration: none;
    color: var(--primary);
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 2rem;
    font-size: 30px;
}
.banner_content3 p {
    color: var(--black);
    font-size: 15px;
    padding: 0;
    text-align: justify;
    margin-top: 3rem;
    margin-right: 10rem;
}
.price span {
    color: var(--primary);
    font-size: 30px;
}
.banner_3 img{
    width: 30rem;
}

/*********** SERVICES BANNER 3 CSS ************/

/*********** SERVICES SECTION 3 CSS ************/
.services_3{
    padding: 4rem 0;
    background-color: var(--black);
}
.services__wrapper3 {
    display: flex;
    align-items: center;
    gap: 4rem;
}
.services_content3 h1 {
    color: var(--primary);
    font-size: 3.5rem;
    line-height: 1;
}
.services_content3 a {
    text-decoration: none;
    color: var(--primary);
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 2rem;
    font-size: 30px;

}
.services_content3 p {
    margin: 4rem 0;
    text-align: justify;
    color: var(--white); 
}
.services_price span {
    color: var(--primary);
    font-size: 30px;
}
.services_3 img{
    width: 30rem;
}

/*********** END SERVICES SECTION 3 CSS ************/

/*********** SERVICES BANNER 4 CSS ************/

.banner_4 {
    padding: 3rem 0;
  
}
.banner__wrapper4 {
    display: flex;
    align-items: center;
    gap: 4rem;
}
.banner_content4 h1 {
    color: var(--primary);
    font-size: 3rem;
    line-height: 1;
}
.banner_content4 a {
    text-decoration: none;
    color: var(--primary);
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 2rem;
    font-size: 30px;
}
.banner_content4 p {
    color: var(--black);
    font-size: 15px;
    padding: 0;
    text-align: justify;
    margin-top: 3rem;
    margin-right: 10rem;
}
.banner_4price span {
    color: var(--primary);
    font-size: 30px;
}
.banner_4 img{
    width: 30rem;
}
/*********** END SERVICES BANNER 4 CSS ************/





.updateTrends{
    padding: 10rem 0;
}
.updateTrends h2{
    color: var(--primary);
}
.updateTrends_topic ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 12px;
}
.updateTrends_topic ul li i{
    margin-right: 2rem;
}
.updateTrends h3{
    color: var(--primary);
    margin-bottom: 1rem;
}
.updateTrends a{
    color: var(--primary);
    text-decoration: none;
    margin-top: 2rem;
    display: block;
}
.border-bottom{
    border-bottom: 1px solid rgb(210, 210, 210);
}
.pb-2{
    padding-bottom: 2rem;
}
.updateTrends_topic{
    padding: 3rem 0;
}
.updateTrends_wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
}
.updateTrends_topic img{
    width: 100%;
}
.categories ul{
    list-style: none;
    margin: 2rem 0      ;
}
.categories ul li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.8rem;
}
.categories{
    padding: 2.5rem 0;
}
.thePost{
    display: flex;
    gap: 5rem;
    align-items: center;
    margin-bottom: 2rem;
}
.recentPost h2{
    margin-bottom: 3rem;
}
.thePost h4{
    margin-bottom: 1rem;
}
.recentPost{
    padding: 3rem 0;
}
.tags{
    padding: 2rem 0;
}
.tags a{    
    border: 2px solid var(--black);
    display: inline-block;
    color: var(--black);
    padding: 1rem 1.5rem;
    border-radius: 5rem;
    margin-right: 1.2rem;
}
.bg-dark{
    background-color: var(--black);
}
.t-white{
    color: var(--white) !important;
}

@media (max-width: 998px) {
    .updateTrends_wrapper{
        grid-template-columns: 1fr;
    }
    .updateTrends_topic ul{
        display: block  ;
    }
}
@media (max-width: 768px) {
    .footer_wrapper{
        display: block;
    }
    .footer_links{
        text-align: center;
    }
    .footer_links ul{
        justify-content: center;
    }
}